@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-screen flex flex-col flex flex-col;
}
body *::-webkit-scrollbar {
  width: 10px;
}
body *::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
body *::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
.ql-toolbar.ql-snow {
  border: none !important;
}
.ql-toolbar.ql-snow {
  @apply sticky top-0 z-10 bg-zinc-900 border-none;
}
.ql-container.ql-snow {
  border: none !important;
}
.ql-container.ql-snow {
  border: none !important;
  color: #fff !important;
}
.ql-snow .ql-picker {
  color: #fff !important;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: #fff !important;
}
.ql-snow .ql-stroke {
  stroke: #fff !important;
}
.ql-editor.ql-blank::before {
  color: #fff !important;
  left: 0 !important;
}
.custom-quill .ql-toolbar {
  display: none;
  max-height: 0;
}
.ql-editor {
  /* text-indent: 1rem; */
  padding: 0 !important;
  padding-top: 1rem !important;
}
.ql-editor {
  tab-size: 20 !important;
  -moz-tab-size: 20 !important;
  -o-tab-size: 20 !important;
}
/* .custom-quill .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: none;
  height: 100%;
} */
/* 

ql-snow *,
.ql-blank > p {
  color: #fff !important;
}
.quill {
  height: 70%;
  display: flex;
  flex-direction: column;
}
.custom-quill.quill {
  height: auto;
}
.ql-editor {
  height: 100%;
  overflow-y: scroll;
}
.ql-toolbar {
  height: 10%;
}
.ql-container {
  height: 90%;
  max-height: 90%;
} */
